body {
    font-family:Arial, Helvetica, sans-serif;
    size: 100%;
}

p{
    font-size: large;
}
header{
    position: sticky;
    top: 0;
    padding: 10px 16px;
    background: white;
    text-align:center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border-bottom: 1px solid #aba9a9;
}

header>#register{
    grid-column: 11;
}

header>#signin{
    grid-column: 12;
}

#LogoBBC{
    height : 2.5vw;
    grid-column: 6/7;

}

nav {
    text-align:center;
    border-bottom: 1px solid #aba9a9;
    padding : 5px 8px;
    font-weight: bold;
}

nav>span{
    padding-left: 3px;
    padding-right: 3px ;
}

nav>span:hover{
    background-color:#aba9a9;
    padding:5px 8px;
    padding-left: 1px ;
    padding-right: 1px;
}

main{
    padding-left: 25vw;
    padding-right: 25vw;
}

#cinema {
    width:50vw;
}

.legende{
    font-size: small;
    color:#aba9a9
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('../fonts/OpenDyslexic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#piechart{
    width : 600px;
    margin : 40px;
}
